{% extends 'base.html.twig' %}

{% block title %}Mes produits : {% endblock %}

{% block body %}
    <h1>Liste des produits</h1>
    {% for item in produits %}


    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ item.Nom }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ item.Reference }}</h6>
            <p class="card-text">{{ item.Description }}</p>
            <p class="card-text">{{ item.EAN }}</p>
            <a href="{{ path("monForm_modif",{"id":item.id}) }}"
               class="btn btn-primary">
                <i class="far fa-edit"></i>
            </a>
            <a href="{{ path("suppr",{"id":item.id}) }}"
               class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
            </a>
        </div>
    </div>
    {% endfor %}
    <br>
    <br>
    <a class="btn btn-primary left" href="{{ path("monForm") }}" role="button">ajouter un produit</a>
    <br>
    <br>
    <br>

{% endblock %}
